/* COLOUR PALETTE */
:root {
    --light: #F3F6F4;
    --grey: #878484;
    --darkGrey: #2B2727;
    --textCol: #141212;
    --accent: #6015EB;
  }

/* MISC STYLES */
.section-heading {
    margin: 1vh 1vw;
    text-decoration: underline;
}

/* NAVBAR STYLES */

/* HERO STYLES */
.hero {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 5%; */
}

.hero-image {
    max-width: 25%;
    height: auto;
    background-repeat: none;
}

.hero-title {
    font-size: 3vw;
}

.hero-para {
    font-size: 1.5vw;
}

/* WORK SECTION STYLES */
.work-grid {
    margin: 0 9vw;
}


/* SKILLS SECTION STYLES */
.list-group-item {
    padding: 5vh;
}

/* ABOUT SECTION STYLES */

/* CONTACT SECTION STYLES */

/* FOOTER STYLES */